<html>
<head>
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div class="container">
    <button id="b1" class="button" onclick="klick(this.id)"></button>
    <button id="b2" class="button" onclick="klick(this.id)"></button>
    <button id="b3" class="button" onclick="klick(this.id)"></button>
    <br>
    <button id="b4" class="button" onclick="klick(this.id)"></button>
    <button id="b5" class="button" onclick="klick(this.id)"></button>
    <button id="b6" class="button" onclick="klick(this.id)"></button>
    <br>
    <button id="b7" class="button" onclick="klick(this.id)"></button>
    <button id="b8" class="button" onclick="klick(this.id)"></button>
    <button id="b9" class="button" onclick="klick(this.id)"></button>
    <br>
    <br>
    <button id="reset" class="button" onclick="reset()">Reset</button>
    <h4 id="result"></h4>
</div>
</body>
</html>
<script src="main.js"></script>
